html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}

body {
  font-family: roboto, sans-serif;
  font-style: normal;
  color: #212121;
}

.section {
  padding: 94px 0;
}

.semi-section {
  padding: 94px 0 0 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background: #ffffff;
  border: 1px solid #ececec;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation {
  margin-left: 90px;
  padding: 25px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-display {
  background: #2f303a;
}

.main-title {
  width: 696px;
  padding: 30px 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-logo {
  margin: 30px 0;
}

.link-page {
  margin: 15px 25px;
}

button {
  cursor: pointer;
}

button:focus {
  color: #2196f3;
}

.main-button {
  padding: 10px 32px;
  background: #2196f3;
  border-radius: 4px;
  margin: 0 auto;
}

.button-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.features {
  padding: 0;
  gap: 30px;
}

.feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}

a:focus {
  color: #2196f3;
}

.contact-header {
  margin-left: 280px;
  padding: 25px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-mail {
  color: #757575;
  margin: 5px 25px;
}

.header-phone {
  color: #757575;
  margin: 5px 5px 5px 25px;
}

.operations {
  padding: 0;
  gap: 30.26px;
}

.operation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.center {
  text-align: center;
}

.team {
  background: #f5f4fa;
}

.team-cards {
  justify-content: center;
  padding: 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.card {
  width: 270px;
  height: 368px;
  background: #ffffff;
}

.card:not(:last-child) {
  margin-right: 36px;
}

.member {
  width: 270px;
  height: 260px;
}

.member-andres {
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member-carla {
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member-mario {
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member-pablo {
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member-text {
  color: rgba(255, 255, 255, 0.6);
}

.filter {
  justify-content: center;
  gap: 8px;
}

.projects {
  margin-top: 50px;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}

.project-title {
  padding: 0 0 22px 0;
}

.project-description {
  padding: 24px 20px;
}

.project-card {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}

.basket {
  padding: 0 0 6px 0;
}

footer {
  padding: 60px 0;
  background: #2f303a;
}

.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

address {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 9px;
}

.categories {
  border-radius: 4px;
  padding: 6px 24px;
}

.categories:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.categories:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.link-page.current {
  color: #2196f3;
}

.foot-info {
  padding: 0;
  margin: 0;
}
