body {
  font-family: roboto, sans-serif;
  font-style: normal;
  color: #212121;
}

.section {
  padding: 94px 0;
}

.container {
  justify-content: center;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background: #ffffff;
  border: 1px solid #ececec;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-display {
  background: #2f303a;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  flex: auto;
  justify-content: flex-start;
  margin: 25px 0;
}

button {
  cursor: pointer;
}

button:focus {
  color: #2196f3;
}

.main-button {
  justify-content: center;
  padding: 10px 32px;
  gap: 10px;
  width: 261px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-title {
  width: 197px;
  height: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.features {
  justify-content: space-between;
}

.feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}

a:focus {
  color: #2196f3;
}

.contact-header {
  flex-direction: row;
  justify-content: flex-end;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.operations {
  justify-content: center;
}

.operation:not(last-child) {
  margin-right: 30.26px;
}

.operation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.center {
  text-align: center;
}

.team {
  background: #f5f4fa;
}

.team-cards {
  justify-content: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.card {
  width: 270px;
  height: 368px;
  background: #ffffff;
}

.card:not(:last-child) {
  margin-right: 36px;
}

.member {
  width: 270px;
  height: 260px;
}

.member-andres {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member-carla {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member-mario {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member-pablo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.filter:not(:last-child) {
  margin-right: 8px;
}

.filter {
  justify-content: center;
}

.projects {
  margin-top: 50px;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}

.project-card {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}

footer {
  background: #2f303a;
}

.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.categories {
  border-radius: 4px;
  padding: 6px 24px;
}

.categories:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.categories:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.link-page.current {
  color: #2196f3;
}
